// Custom styles.
.pace .pace-progress{
    background: #ff9800;
    }
.headband{
    background: #03a9f4;
    }
.site-brand-container, .headband{
    background: #3090e4;
    }
.sidebar-nav .sidebar-nav-active, .post-toc .nav .active > a{
    color: #428bca;
    border-bottom-color: #3090e44d;
    }
.menu-item-active a, .menu .menu-item a:hover, .menu .menu-item span.exturl:hover {
    background: #3090e44d;
}
.content-wrap, .sidebar-inner, .header-inner{
    background: rgba(255, 255, 255, 0.8);
    }
tbody tr:nth-of-type(odd) {
    background: #f9f9f99e;
}

.post-body .note.info.no-icon {
    background: #93cdff26;
}
.post-body .note.info {
    background: rgba(66, 139, 202, 0.1);
}
.post-body .note.success {
    background: rgba(92, 184, 92, 0.1);
}
.post-body .note.danger {
    background: rgba(217, 83, 79, 0.1);
}
.post-body .note.default {
    background: rgba(119, 119, 119, 0.1);
}

.highlight figcaption a {
    margin-right: 25px;
}
.back-to-top {
    right: 30px;
    left: auto;
}
@media (max-width: 991px){
    .footer-inner {
        padding-right: 0;
    }
    .highlight figcaption a {
        margin-right: 0;
    }
    .back-to-top {
        right: 20px;
        left: auto;
    }
}
