// Custom styles.

.site-meta, .headband{
    background: #87daff;
    }
.sidebar-nav .sidebar-nav-active{
    color: #fc6423;
    border-bottom-color: #fc6423;
    }
.content-wrap, .sidebar-inner, .header-inner{
    background: #ffffff85;
    }
@media (max-width: 991px){
    .footer-inner {
        padding-right: 0;
    }
}